<p style="color: green"><%= notice %></p>

<%= render partial: 'home', locals: { home: @home } %>  

<div>
  <%= link_to "Editar este pedido", edit_home_path(@home), class: 'btn btn-secondary'%>
  <%= link_to "Volver a la página principal", '/homes', class: 'btn btn-secondary' %>  

  <%= button_to "Borrar este pedido", @home, method: :delete , class: "btn btn-danger"%>
</div>