<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pedido" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path 'la Terraza del pri sin fondo Logo.png' %>" type="image/png">
    <link rel="icon" href="<%= asset_path 'la Terraza del pri sin fondo Logo.svg' %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_path 'la Terraza del pri sin fondo Logo.png' %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <header>
        <h1>LA TERRAZA DEL PRI</h1>
        
      </header>
      <nav>
        <h2>¡Explosión de sabor en cada bocado! 🌮🍔</h2>
      </nav>
      <section class="section">
        <aside>
          <%= link_to "Nuevo Pedido", new_home_path %> 
        </aside>
        <section class="sect">
          <%=yield %>
        </section>
      </section>
      <footer>
        <strong>
          Dirección: Calle 56#8-22 ciudadela metropolitana - soledad<br>
          Siguenos en nuestras redes sociales para siempre estar atento a cualquier novedad<br>
          <a href="https://www.instagram.com/Laterrazadelpri/" target="_blank" rel="noopener noreferrer">
            Síguenos en Instagram
          </a><br>
          <a href="https://www.tiktok.com/@laterrazadelpri?_t=8iQXZMitniI&_r=1" target="_blank" rel="noopener noreferrer">
            Síguenos en TikTok
          </a><br>
          Linea de contacto: +57 311 3678033
        </strong>
      </footer>
    </main>
  </body>
</html>
